<footer>
  <div class="container">
    <div class="row m-0 p-0">
      <div class="col-lg-12">
        <ul class="row m-0 p-0">
          <li>
            {{#link-to "about-us" class="footer-link pr-2"}}
              About us
            {{/link-to}}
          </li>
          <li class="footer-menu-divider pr-2">&sdot;</li>
          <li>
            {{#link-to "privacy-and-policy" class="footer-link pr-2"}}
              Privacy And Policy
            {{/link-to}}
          </li>
          <li class="footer-menu-divider pr-2">&sdot;</li>
          <li>
            {{#link-to "terms-and-conditions" class="footer-link pr-2"}}
              Terms and Conditions
            {{/link-to}}
          </li>
          <li class="footer-menu-divider pr-2">&sdot;</li>
          <li>
            {{#link-to "contact-information" class="footer-link pr-2"}}
              Full Contact Information
            {{/link-to}}
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; ZNBEnterprise 2019. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>