<div class="row m-0 p-0 mb-5">
  {{#link-to "account.staff.users" 1 class="btn-c btn-outline-gray pointer mr-2"}}
    <i class="material-icons">
      group
    </i>
    Users
  {{/link-to}}
  {{#link-to "account.staff.deposits" 1 class="btn-c btn-outline-gray pointer mr-2"}}
    <i class="material-icons">
      assignment_turned_in
    </i>
    Deposits
  {{/link-to}}
  {{#link-to "account.staff.withdrawals" 1 class="btn-c btn-outline-gray pointer mr-2"}}
    <i class="material-icons">
      assignment_returned
    </i>
    Withdrawals
  {{/link-to}}
  {{#link-to "account.staff.payments" 1 class="btn-c btn-outline-gray pointer mr-2"}}
    <i class="material-icons">
      assignment_ind
    </i>
    Payments
  {{/link-to}}
</div>
{{outlet}}