<div class="container seperator-small">
  <div class="row fade-medium">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
      <h1 class="info-title">About us</h1>
      <div class="text-justify">
        <p class="info-text">The purpose of this website is a free project. All content on this website is merely for educational purposes and should not be taken serious.</p>
        <p class="info-text">This represents a bank system created for a personal demostration and the website itself is a demonstration of the teams skill.</p>
        <p class="info-text">Full detailed description of the development team can be found in the segment Full Contact Information. Where you can the teams personal and contact information if you wish to contact them.</p>   
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6 offset-xl-1">
      <img class="img-fluid" src="assets/images/about-us.png" alt="404">
    </div>
  </div>
</div>