<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 fade-medium">
        <div class="intro-message">
          <h1 class="text-white">Welcome</h1>
          <h3 class="text-white">Our Bank is the right choice</h3>
          <hr class="intro-divider">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section-a fade-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">What we offer:<br>plans and deals at the best rate</h2>
        <p class="lead">In today's world many banks exist and many of them offer great plans and rates, so what sets us apart from them? Simply said we guarantee our users the safest and best plans available, with a flexible rate. The user is our number one priority.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-lg-1 offset-xl-1 mt-4">
        <img class="img-fluid rounded" src="assets/images/plan.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="content-section-b fade-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 mt-4">
        <img class="img-fluid rounded" src="assets/images/credit-cards.jpg" alt="">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-lg-1 offset-xl-1">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Our Strategy</h2>
        <p class="lead">Our strategy revolves around the user, in order to provide the best service we will do everything possible in our hands. In order to provide such service we have to work hard and keep up to the standards set by bigger and more trustworthy banks.</p>
      </div>
    </div>
  </div>
</div>
<div class="content-section-a fade-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Our Goals</h2>
        <p class="lead">One of our biggest goals is providing the best service for our users, so we can become the best bank within our region. And in the future we plan on expanding our services across the world, so everyone can experience perfection. Once we expand we will keep on improving our rates for the user, because the user is our number one priority.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-lg-1 offset-xl-1 mt-4">
        <img class="img-fluid rounded" src="assets/images/future.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <h2 class="text-white">Contact us:</h2>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <ul class="row pt-1 ml-0 pl-0 pr-0 pl-0">
          <li>
            <a href="https://www.linkedin.com/in/zijah-ribic-757918160/" class="social-link mr-4">
              <i class="fab fa-linkedin mr-2"></i><span class="social-link">Linkedin</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/SimplyChuro" class="social-link">
              <i class="fab fa-github mr-2"></i><span class="social-link">Github</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>