<div class="container seperator-xl">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-lg-3 offset-xl-3 fade-medium">
      <div class="card fade-short pb-3">
        <h5 class="card-header text-center">
          <i class="material-icons">
            how_to_reg
          </i>
          Success
        </h5>
        <div class="card-body">
          <p class="password-reset-text text-center">You have successfully made your account within our system! In order to continue just login within our system to use all the perks our bank offers.</p>
          <div class="text-center">
            {{#link-to "login" class="btn btn-outline-secondary pr-5 pl-5 pt-2 pb-2"}}
              Login
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>